.browser_alert_login {
   width: 280px;
   margin: 30px auto;
   font-size: 13px
}
 
* {
   box-sizing: border-box
}
 
.text-center {
   text-align: center
}
 
.banner-sec{
   background:url("/images/fundo.jpg"); 
   background-size:100% 100%; 
   min-height:660.9px;
   width: 600px;
   opacity: 0.4; 
 }

body {
   width: 100%;
   margin: 0;
}
 
.box-right {
   width: 100%;
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   overflow: auto;
   padding: 60px;
}
 
.box-right .bar {
   position: relative;
   z-index: 9
}
 
.box-right form,
.box-right .idp-login {
   padding-top: 1cm;
   width: 100%;
   text-align: center;
   display: flex;
}
 
.box-right form .step .title,
.box-right .idp-login .step .title {
   font-size: 22px;
   padding: 20px 0 40px 0;
   text-align: left;
}
 
.box-right form .form-group,
.box-right .idp-login .form-group {
   margin-bottom: 15px;
   text-align: left;
   width: 100%
}
 
.box-right form label,
.box-right .idp-login label {
   width: 100%;
   font-weight: 800
} 
 
 
.box-right form button,
.box-right form a.button,
.box-right .idp-login button,
.box-right .idp-login a.button {
   display: inline-block;
   font-size: 16px;
   width: 50%;
}
 
.box-right .switcher {
   float: right
}
 

 
.signup-link {
   width: 100%;
   padding: 15px 20px;
   border: 0;
   margin-top: 10px;
   outline: 0;
   cursor: pointer;
   display: inline-block;
   color: black;
   text-decoration: none;
   margin-bottom: 10px
}

 
.signup-link span {
   font-weight: 500;
   color: black
}

@media (max-width: 767px) {
   .box-right {
      content: none;
      padding: 25px 15px;
      overflow-y: auto
   }
   .box-right form {
      display: block;
      height: auto
   }
   .box-right form .step {
      padding: 20px 15px 0 15px;
      margin: 20px auto;
      left: auto;
      top: auto;
      transform: none
   }
   .box-right form .step .title {
      font-size: 18px;
      font-weight: bold;
      padding-top: 40px;
      padding-bottom: 20px
   }
   .box-right form input,
   .box-right form select {
      margin-top: 0px;
      height: 40px
   }
   .box-right form a.button,
   .box-right form button,
   .box-right form .signup-link {
      font-size: 110%;
      width: 100%;
      margin-top: 10px
   }
   .box-right form a.button {
      margin-top: 0
   }
   .box-right .dots {
      padding-right: 15px
   }
   .box-right .dots .bottom {
      float: right;
      top: 5px
   }
   .box-right .dots .bottom a {
      margin: 0 8px
   }
   .slider-container {
      margin: 35px 0 35px 0px;
      width: 340px
   }
}
 
@media (min-width: 992px) {
   .box-right {
      width: 65%
   }
   .box-right form .step .browser_alert_login{
      padding: 0 10%
   }
   
}
 
@media (min-width: 1281px) {
   .box-right form .step {
      padding: 0 20%
   }
}