.browser_alert_login {
   width: 606px;
   margin: 10px auto;
   padding: 0 0 0 45px
}
 
* {
   box-sizing: border-box
}
 
.text-center {
   text-align: center
}
 
.banner-sec{
   background:url("/images/fundo.jpg"); 
   background-size:cover; 
   min-height:660.9px;
   width: 600px;
   opacity: 0.5;
   filter: alpha(opacity=50);
 }

body {
   font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Ubuntu, Roboto, Oxygen, Cantarell, Arial, sans-serif;
   font-size: 15px;
}
 

body {
   width: 100%;
   margin: 0;
}
 
.box-right {
   width: 100%;
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   overflow: auto;
   padding: 60px;
}
 
.box-right .bar {
   position: relative;
   z-index: 9
}
 
.box-right form,
.box-right .idp-login {
   padding-top: 1cm;
   width: 100%;
   text-align: center;
   display: flex;
}
 
.box-right form .step .title,
.box-right .idp-login .step .title {
   font-size: 22px;
   padding: 20px 0 40px 0;
   text-align: left;
   color: #212529
}
 
.box-right form .form-group,
.box-right .idp-login .form-group {
   margin-bottom: 15px;
   color: #212529;
   text-align: left;
   position: relative;
   display: inline-block;
   width: 100%
}
 
.box-right form label,
.box-right .idp-login label {
   width: 100%;
   font-weight: 900
}
 
.box-right form select,
.box-right .idp-login select {
   border: 0;
   border-bottom: 1px solid;
   border-bottom-color: #DFE6EE;
   border-radius: 2px;
   background-color: #fff;
   outline: 0;
   height: 45px;
   line-height: 45px;
   width: 100%;
   margin-top: 8px;
   background-color: rgba(255, 255, 255, 0)
}
 
.box-right form input,
.box-right .idp-login input {
   display: block;
   width: 100%;
   padding: 0 0px;
   height: 30px;
   line-height: 30px;
   margin-top: 8px;
   border: 0;
   border-bottom: 1px solid #DFE6EE;
   border-radius: 5px;
   font-size: 13px;
   color: #343A40;
   padding-right: 20px;
   background-color: rgba(255, 255, 255, 0)
}

 
.box-right form input:hover,
.box-right .idp-login input:hover {
   border-color: #BECCD9
}
 
.box-right form input:focus,
.box-right .idp-login input:focus {
   border-color: #37B790;
   outline: none
}
 
.box-right form input[type="checkbox"],
.box-right .idp-login input[type="checkbox"] {
   width: 12px;
   height: auto;
   display: inline-block;
   position: relative;
   top: -1px
}
 
.box-right form button,
.box-right form a.button,
.box-right .idp-login button,
.box-right .idp-login a.button {
   display: inline-block;
   font-size: 13px;
   width: 50%;
   background-color: #37B790;
   padding: 15px 20px;
   border-radius: 20px;
   color: white;
   text-transform: uppercase;
   border: 0;
   margin-top: 30px;
   outline: 0;
   cursor: pointer
}
 
.box-right form button:hover,
.box-right form a.button:hover,
.box-right .idp-login button:hover,
.box-right .idp-login a.button:hover {
   background-color: #31a381
}
 
.box-right .switcher {
   float: right
}
 
.box-right .switcher a {
   display: inline-block;
   color: #ADB5BD;
   border-bottom: 2px solid #fff;
   text-decoration: none;
   font-weight: 100;
   padding-bottom: 5px;
   margin-left: 5px;
   padding: 8px 5px 8px 5px
}
 
.box-right .switcher a:hover {
   border-color: #37B790
}
 
.box-right .switcher a.active {
   color: #37B790;
   border-color: #37B790;
   font-weight: 500
}

 
.signup-link {
   width: 100%;
   padding: 15px 20px;
   border: 0;
   margin-top: 10px;
   outline: 0;
   cursor: pointer;
   display: inline-block;
   color: #868E96;
   text-decoration: none;
   margin-bottom: 10px
}

 
.signup-link span {
   font-weight: 500;
   color: #495057
}
 

 
body.self_registration .dots .signup-with {
   width: 50%
}

@media (max-width: 767px) {
   .box-right {
      content: none;
      padding: 25px 15px;
      overflow-y: auto
   }
   .box-right form {
      display: block;
      height: auto
   }
   .box-right form .step {
      padding: 20px 15px 0 15px;
      margin: 20px auto;
      left: auto;
      top: auto;
      transform: none
   }
   .box-right form .step .title {
      font-size: 18px;
      font-weight: bold;
      padding-top: 40px;
      padding-bottom: 20px
   }
   .box-right form input,
   .box-right form select {
      margin-top: 0px;
      height: 40px
   }
   .box-right form a.button,
   .box-right form button,
   .box-right form .signup-link {
      font-size: 110%;
      width: 100%;
      margin-top: 10px
   }
   .box-right form a.button {
      margin-top: 0
   }
   .box-right .dots {
      padding-right: 15px
   }
   .box-right .dots .bottom {
      float: right;
      top: 5px
   }
   .box-right .dots .bottom a {
      margin: 0 8px
   }
   .slider-container {
      margin: 35px 0 35px 0px;
      width: 340px
   }
}
 
@media (min-width: 992px) {
   .box-right {
      width: 65%
   }
   .box-right form .step {
      padding: 0 10%
   }
   
}
 
@media (min-width: 1281px) {
   .box-right form .step {
      padding: 0 20%
   }
}